@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700;800&display=swap');

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Open Sans', sans-serif; */

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    transition: 0.4s;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}

body{
    font-size: 11px;
    line-height: 19px;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 400;
    position: relative;
}

.mainScreen{
    width: 100%;
    height: 100vh;
    background-image: url(../img/bgTopComressed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mainNameHeader h1{
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    
    font-size: calc(24px + 36 * ((100vw - 320px) / (1440 - 320)));
    font-weight: 400;
    letter-spacing: 5.709px;
    margin-bottom: 30px;
}
.mainNameHeader p{
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  
    font-size: calc(8px + 8 * ((100vw - 320px) / (1440 - 320)));
    font-style: normal;
    font-weight: 600;
}
.scrollHeader p{
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 3.7px;
    margin-bottom: 70px;
}
.logoWhiteHeader{
    margin-top: 40px;
}


.wrapper{
    position: relative;
    max-width: 950px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}



.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.897);
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 58px;
    border: 1px solid #E6E6E6;
}
.navBox{
    max-width: 940px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
.navigationList{
    display: flex;
    justify-content: space-between;
  
}
.logoBlackNav{
    flex-basis: auto;
}
.navigationList li{
    flex-basis: 50%;
}
.navigationList>*:not(:last-child){
    margin-right: 40px;
}
@media (max-width: 425px) {
    .navigationList>*:not(:last-child){
        margin-right: 10px;
    }
}

.navigationList li a{
    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    font-size: calc(8px + 4 * ((100vw - 320px) / (1440 - 320)));
    font-weight: 600;
    letter-spacing: 1.091px;
}
.navigationList li a:hover{
    color: #00A4E5;
}



.BlockOurStory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 117px;
}
.textOurStory {
    margin-bottom: 90px;
    position: relative;
}
.textOurStory h2{
    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.306px;
}
.textOurStory::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: #00A4E5;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.sectionOurStory {
    display: flex;
    justify-content: space-between;
    
}
@media (max-width: 720px) {
    .sectionOurStory {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
.leftBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.leftBlock :first-child {
    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: normal;
    font-weight: 700;
    letter-spacing: 0.188px;
    margin-bottom: 30px;
}

.leftBlock :last-child {
    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.188px;
}
.sectionOurStory .leftBlock span{
    color: #16ACE8;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.17px;
}
.rightBlock {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.rightBlock>*:not(:last-child){
    margin-right: 20px;
}
.BoxLeftBlockRight {
    width: 140px;
    height: 224px;
    background-image: url(../img/img_wePlan_comressed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.BoxCentreBlockRight {
    width: 140px;
    height: 224px;
    background-image: url(../img/weManage_comressed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.BoxrightBlockRight {
    width: 140px;
    height: 224px;
    background-image: url(../img/weBuild_comressed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.rightBlock h3{
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.188px;
}
.BoxLeftBlockRight,.BoxCentreBlockRight,.BoxrightBlockRight {
    padding-top: 15px;
    padding-left: 15px;
}



.BlockServices {
    display: flex;
    flex-direction: column;
    margin-bottom: 115px;
}
.capabilitiesTopBox {
    display: flex;
    align-items: center;
    margin-bottom: 76px;
    position: relative;
    justify-content: space-between;
}
.titleTopBoxCapabilitieS {
    align-self: start;
    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.306px;
}
.titleTopBoxCapabilitieS::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: #00A4E5;
    bottom: 5px;
}
.textTopBoxCapabilities {
    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.2px;
    width: 405px;
}
.buttonTopBoxCapabilities {
    flex-basis: 150px;
   
    border: 1px solid #00A4E5;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.buttonTopBoxCapabilities:hover{
    
    color: #FFF;
    background: #00A4E5;
    box-shadow:  5px 5px 5px #008bc3,
                    0px 0px 0px #00bdff;
    
}
.cardBottomBox {
    display: flex;
    justify-content: space-between;
}
.leftCardBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 295px;
    height: 330px;
    border: 1px solid #E6E6E6;
    background: #FFF;
    padding: 22px;
}
.centreCardBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 295px;
    height: 330px;
    border: 1px solid #E6E6E6;
    background: #FFF;
    padding: 22px;
}
.rightCardBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 295px;
    height: 330px;
    border: 1px solid #E6E6E6;
    background: #FFF;
    padding: 22px;
}
.cardTextMain{
    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.427px;
}
.cardTextSimple{
    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.188px;
}




.footerFullScreen {
    background-image: url(../img/bgBottom.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  Bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.footerFullScreen h2{
    color: #48555B;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.15px;
}
.buttonFooterFullScreen {
    margin-top: 46px;
    background: rgba(0, 164, 229, 0.747);
 
}
.buttonFooterFullScreen a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;

}
.buttonFooterFullScreen :hover{
    background: #00A4E5;
    box-shadow:  5px 5px 5px #008bc3,
                    0px 0px 0px #00bdff;
}



.connectionBlock{
    top: -2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171819;
    height: 100px;
}
.connectionBlock label{
    display: flex;
    justify-content: center;
}
.connectionBlock h3{
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.846px;
    margin-right: 70px;
}

.enter{
    width: 250px;
    height: 40px;
    border: 1px solid #00A4E5;
    background: #FFF;
    padding: 16px;
}
.enter:focus{
    outline: none;
    box-shadow: 0 0 0 1px #00A4E5;
}
.enter::placeholder{
    color: rgba(72, 85, 91, 0.493);
}

.inputButton{
    width: 150px;
    height: 40px;
    outline: none;
    background: #00A4E5;
    margin: -3px;
}
.inputButton:hover{
    box-shadow:  0px 0px 0px 1px #00A4E5,
                    0px 0px 0px #00bdff;
                    border-radius: 0 5px 5px 0;
}



.menuFooterBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #141A20;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    bottom: 2px;
}
.menuFooterWrapper{
    max-width: 940px;
    height: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.846px;
}
.companyBox{
    width: 250px;
    height: 148px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.linksBoxMain{
    width: 262px;
    height: 150px;
    display: flex;
    align-items: center;
}
.LinksBoxWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menuLinksBox{
    display: flex;
    justify-content: space-between;
}
.menuLinksBox ul li a:hover{
    color: #16ACE8;
}
.linksBoxTitle{
    margin-bottom: 19px;
}
.listLinksBox, .listFaqBox, .listblogBox{
    height: 125px;
}
.listLinksBox>*:not(:last-child){
    margin-bottom: 10px;
}
.listFaqBox>*:not(:last-child){
    margin-bottom: 10px;
}
.listblogBox >*:not(:last-child){
    margin-bottom: 10px;
}

.contactBox{
    display: flex;
    width: 141px;
    height: 158px;
    justify-content: center;
}
.contactBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.iconMenuFooterBlock{
    width: 200px;
    height: 90px;
    display: flex;
    justify-content: center;
}
.iconMenuFooterBlock img{
    display: inline-block;
    width: 87px;
    height: 13px;
}


.nameplate{
    background-color: #171819;
    height: 60px;
    position: relative;
    top: -2px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.846px;
    display: flex;
    justify-content: center;
    align-items: center;
}
