*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    transition: 0.4s;
}

a{
    color: inherit;
}


html{
    min-height: 100%;
    cursor: url("..//img/target.png"), crosshair;
}

body{
    height: 100%;
    counter-reset: shotDuck;
    background-image: url("..//img/COTEL.jpg");
    background-repeat: no-repeat;
background-size: cover;
background-position: 0 bottom;
/* position: relative; */
overflow: hidden;
cursor: url("..//img/target.png"), crosshair;
}


.darkOn:checked{
    counter-increment: shotDuck;

}


.darkOn{
    position: absolute;
    left: -100%;
    top: 0;
}

.count{
    position: absolute;
    font-family: sans-serif;
    font-size: 5rem;
    color:rgba(219, 36, 12, 0.808);
   top: 10px;
left: 5%;
/* transform: translate(-50%); */


}
.count::after{
    content: counter(shotDuck);
}


.dark{
    left: -20%;
    height: 100px;
    width: 200px;
    overflow: hidden;
    /* position: relative; */
}

label{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: url("..//img/Mush.gif");
    cursor: url("..//img/target.png"), crosshair;
}


.dark1{
    position: absolute;
    animation-name: fly1;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(.06,.93,.79,.04);
    animation-iteration-count: infinite;

}

.dark2{animation-name:fly1;
animation-duration:15s;
animation-delay: 3s;
position: absolute;
animation-iteration-count: infinite;}

.dark3{animation-name:fly3;
    animation-duration:10s;
    animation-delay: 2s;
    position: absolute;
    animation-iteration-count: infinite;}

    .dark4 {animation-name:fly2;
        animation-duration:7s;
        animation-delay: 4s;
        position: absolute;
        animation-iteration-count: infinite;
}
.dark5 {animation-name:fly4;
    animation-duration:5s;
    animation-delay: 2s;
    position: absolute;
    animation-iteration-count: infinite;
}

@keyframes fly1{
    0%{left: -10%;
        top: 50%;}
    50%{left: 50%; 
        top: 20%; 
    transform: rotate(750deg);}
    100%{left: 10%;
        top: 10%;}
}


@keyframes fly2{
    0%{left: 60%;
        top: 90%;}
    50%{left: 10%; 
        top: 60%; 
    transform: rotate(90deg);}
    100%{left: 110%;
        top: 20%;}
}

@keyframes fly3{
    0%{right: -10%;
        top: 10%;}
    50%{left: 10%; 
        top: 40%; 
    transform: rotate(360deg);}
    100%{left: 110%;
        top: 80%;}
}

@keyframes fly4{
    0%{left: 100%;
        top: 10%;}
    50%{left: 20%; 
        top: 80%; 
    transform: rotate(430deg);}
    100%{left: 40%;
        top: -10%;}
}


.darkOn:checked + label{
    display: none;
}

@media (max-width:700px) and (min-width: 500px) {
    .count{
        font-size: 2rem;   
    }
}

.boxAudio{
    height: 50px;
    background-color: inherit;
    position: relative;
    margin-bottom: 25px;
    opacity:0.5;
}

.boxAudio audio{
    position: absolute;
    top: 20%;
    left: 80%;
    
    /* transform: translate(-50%, -50%); */
}